@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #685cfe;
  --main-transition: 0.5s all ease-in-out;
}

body {
  background-color: white;
}
::selection {
  color: white;
  background: var(--main-color);
}

.sidebar {
  width: 100px;
  background-color: aqua;
  padding: 20px;
  position: fixed;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  transition: var(--main-transition);
}
.sidebar:hover {
  width: 300px;
}
.sidebar .dots {
  width: 60px;
}
.sidebar .profile {
  width: 55px;
  height: 55px;
  border-radius: 15px;
  color: #fff;
  background-color: var(--main-color);
  display: grid;
  place-items: center;
  font-size: 25px;
  margin: 30px 0;
}
.sidebar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidebar ul {
  padding-bottom: 30px;
  list-style: none;
}
.sidebar ul span {
  color: black;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  display: block;
  padding-bottom: 20px;
}

.sidebar ul li {
  display: flex; 
  align-items: center; 
  padding-left: 10px;
  transition: var(--main-transition);
}

.sidebar:hover ul li {
  padding-left: 0px;
}
.sidebar ul li a {
  padding: 10px;
  display: flex; 
  align-items: center; 
  gap: 10px;
  border-radius: 15px;
  transition: 0.3s all ease-in-out;
  font-size: 16px;
  width: 300px;
  color: black;
  font-weight: 500;
  text-decoration: none;
}
.sidebar:hover a {
  width: 100%;
}
.sidebar ul li a:hover {
  background-color: #ebf0fe;
  color: var(--main-color);
}
.sidebar ul li a ion-icon {
  font-size: 22px;
}
.sidebar ul li.noti a ion-icon {
  position: relative;
}
.sidebar ul li.noti a ion-icon::before {
  content: "";
  position: absolute;
  right: 0;
  background-color: #3761ee;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.sidebar ul li.likes a ion-icon {
  position: relative;
}
.sidebar ul li.likes a ion-icon::before {
  content: "";
  position: absolute;
  right: 0;
  background-color: #e45447;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.sidebar ul li a p {
  visibility: hidden;
  opacity: 0;
  transition: var(--main-transition);
}
.sidebar:hover ul li a p {
  visibility: visible;
  opacity: 1;
}
.sidebar ul li.switch-theme {
  position: relative;
}
.sidebar ul li.switch-theme button {
  background-color: #ddd;
  border: none;
  border-radius: 50px;
  height: 25px;
  width: 50px;
  padding: 5px;
  position: absolute;
  right: 30px;
  visibility: hidden;
  opacity: 0;
  transition: var(--main-transition);
}
.sidebar:hover ul li.switch-theme button {
  visibility: visible;
  opacity: 1;
}
.sidebar ul li.switch-theme button .circle {
  border-radius: 50%;
  background-color: #fff;
  height: 100%;
  width: 15px;
}

.dots img {
    border-radius: 60%;
}
.sidebar .profile {
    display: flex; 
    align-items: center; 
    width: 60px;
    margin-bottom: 20px; 
  }
  
  .sidebar .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .sidebar .profile span {
    margin-left: 30px; 
    font-size: 16px; 
    color: black; 
  }
  

  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  .container {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
  }
  
  .image {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    display: flex;
  }
  
  span {
    margin: auto;
    font-size: 2rem;
  }
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
  
    to {
      transform: rotateY(-360deg);
    }
  }
  
  .image:nth-child(1) {
    background-image: url(../imagenes/Logo.jpg);
    transform: rotateY(0deg) translateZ(430px);
  }

.image:nth-child(2) {
  background-image: url(../imagenes/ususario.png);
  transform: rotateY(40deg) translateZ(430px);
}

.image:nth-child(3) {
  background-image: url(../imagenes/Logo.jpg);
  transform: rotateY(80deg) translateZ(430px);
}

.image:nth-child(4) {
  background-image: url(../imagenes/ususario.png);
  transform: rotateY(120deg) translateZ(430px);
}

.image:nth-child(5) {
  background-image: url(../imagenes/ususario.png);
  transform: rotateY(160deg) translateZ(430px);
}

.image:nth-child(6) {
  background-image: url(../imagenes/ususario.png);
  transform: rotateY(200deg) translateZ(430px);
}

.image:nth-child(7) {
  background-image: url(../imagenes/ususario.png);
  transform: rotateY(240deg) translateZ(430px);
}

.image:nth-child(8) {
  background-image: url(../imagenes/ususario.png);
  transform: rotateY(280deg) translateZ(430px);
}

.image:nth-child(9) {
  background-image: url(../imagenes/ususario.png);
  transform: rotateY(320deg) translateZ(430px);
}